<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://goo.gl/forms/i7dU3oRxsmQMZ79E3">Register</a> </td> </tr>
      <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/setup.html">Automating tasks with the Unix shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Tea Break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://swcarpentry.github.io/python-novice-inflammation">Building and testing programs with Python</a></td> </tr>
      <tr> <td>12:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
